<div class="mt-4">
    <form method="POST" action="/me/done/{{course._id}}?_method=PATCH">
        <label for="name">Tên khóa học</label>
        <input class="form-control form-control-lg" value="{{course.name}}" name="name" type="text"
            placeholder="Course Name">
        <label for="Description">Mô tả</label>
        <input class="form-control form-control-lg" value="{{course.description}}" name="description" type="text"
            placeholder="Description">
        <label for="video">Video</label>
        <input class="form-control form-control-lg" value="{{course.video}}" name="video" type="text"
            placeholder="Video">

        <br>
        <button type="submit" class="btn btn-primary btn-sm">Lưu lại</button>
    </form>
</div>