<form class="mt-4 mb-4" method="POST">
    <div class="form-group">
        <label for="search">Input</label>
        <input name="h" type="text" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Enter">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>